<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Alpaca ERM{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
    <link type="text/css" href="/static/formalize/css/formalize.css" rel="stylesheet" />
    <link href="/static/css/MenuStyles.css" rel="stylesheet" type="text/css" />

    {% block script %}
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="/static/formalize/js/jquery.formalize.min.js"></script>
    {% endblock %}
    {% block style %}{% endblock %}
</head>

<body>
    {% if module != 'login' %}
    <div id="infobox">
        <ul>
            <li>Welcome, {{ user.first_name }}</li>

            {% if user.get_profile.level == 0 %}
            <li>Read Only Access</li>
            {% elif user.get_profile.level == 1 %}
            <li>Update Access</li>
            {% elif user.get_profile.level == 2 %}
            <li>Administrative Access</li>
            {% endif %}

            <li>{{ user.get_profile.bank.name }}</li>
        </ul>
    </div>
    {% endif %}
    <div id="wrapper" class="container_12">
    <div id="header" class="grid_12">
        <div id="logo">
            <a href="/"><img alt="logo" src="/static/logo.png" /></a>
        </div>
    </div>
    {% if module != 'login' %}
    <div id='cssmenu' class="grid_12">
        {% block nav %}
        <ul>
            <li class='{% if module == 'home' %}active{% endif %}'><a href="{% url home %}"><span>Home</span></a></li>
            <li class='has-sub {% if module == 'erm' %}active{% endif %}'><a href='{% url erm %}'><span>Risk Assessment</span></a>
                <ul>
                    <li><a href="{% url all %}">View All</a></li>
                    <li><a href="{% url search %}">Search</a></li>
                    {% if user.get_profile.level > 0 %}
                    <li><a href="{% url assign %}">Assign Risks from Profile</a></li>
                    <li><a href="{% url add %}">Add new Risk</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="{% if module == 'vendor' %}active{% endif %}"><a href='{% url vendor %}'><span>Vendor Management</span></a></li>
            <li class='has-sub {% if module == 'report' %}active{% endif %}'><a href='#'><span>Executive Report</span></a>
                <ul>
                    <li><a href="{% url report %}">View</a></li>
                    <li><a href="{% url report %}">Print</a></li>
                </ul>
            </li>
            <li class="has-sub {% if module == 'exception' %}active{% endif %}"><a href='{% url exception %}'><span>Exception Tracking</span></a>
                <ul>
                    {% if user.get_profile.level > 0 %}
                    <li><a href="{% url exception_add %}">New</a></li>
                    {% endif %}
                    <li><a href="{% url exception_open %}">View Open</a></li>
                    <li><a href="{% url exception_closed %}">View Closed</a></li>
                    <li><a href="{% url exception_search %}">Search</a></li>
                </ul>
            </li>
            <li class="{% if module == 'audit' %}active{% endif %}"><a href='{% url audit %}'><span>Audit Tracking</span></a></li>
            <li><a href='{% url logout %}'><span>Logout</span></a></li>
        </ul>
        {% endblock %}
    </div>
    {% endif %}


    <div id="container" class="grid_12">
        <div id="content">
            {% block content %}{% endblock %}
        </div> <!-- content -->
    </div> <!-- container -->
    </div> <!-- wrapper -->
    <div id="footer" >
        <p>Copyright 2012, Alpaca Software</p>
    </div> <!-- footer -->
</body>
</html>
