    <span>Control Factors</span>
    <table>
        <tr>
            <th style="width: 40px;">Value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>1</td>
            <td>No significant controls have been implemented.</td>
        </tr>

        <tr>
            <td>0.75</td>
            <td>Some controls have been implemented.</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>Significant controls have been implemented.</td>
        </tr>
        <tr>
            <td>0.25</td>
            <td>Appropriate controls have been implemented.</td>
        </tr>
    </table>
