    <span>Impact</span>
    <table>
        <tr>
            <th style="width: 40px;">Value</th>
            <th style="width: 60px;">Level</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>5</td>
            <td>Very High</td>
            <td>The risk could cause substantial or catastrophic damage
                to the bank.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>High</td>
            <td>The risk could cause significant damage to the bank.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Medium</td>
            <td>The risk could cause some damage to the bank.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Low</td>
            <td>The risk could cause manageable or minor damage to the bank.</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Very Low</td>
            <td>The risk could cause minimal damage to the bank.</td>
        </tr>
    </table>
