{% extends "base.html" %}
{% block title %}Risk Detail{% endblock %}

{% block style %}
<style type="text/css">
    /*
    #tr_comments textarea {
        width: 100px;
    }
    */
    #id_riskTypes, #id_riskSources, #id_riskManagers {
        width: 450px;
        height: 200px;
    }

    #risk-legend{
        display: none;
        position: absolute;
        width: 400px;
        height: 270px;
        line-height: 20px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        /*color: rgb(113, 157, 171);*/
        color: 000;
        background: rgb(200, 200, 200);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 5px;
        text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
        opacity: 100%;
        z-index: 1000;
    }
    #risk-legend table, 
    #risk-legend th, 
    #risk-legend td {
        border: 1px solid #555555;
    }
    #risk-legend th, 
    #risk-legend td {
        padding: 5px;
    }
    #risk-legend th {
        font-weight: bold;
    }

</style>

{% endblock %}

{% block content %}

<script type="text/javascript">

    function updateRisks() {
        //show them all first
        $(".risk_risk").parent().parent().show();
        $(".risk_weight").parent().parent().show();


        //get an array of all selected risk types
        var typevals = [];
        $("#id_riskTypes :selected").each(function(i, selected) { 
            typevals[i] = $(selected).val();
        });

        // 1 = Credit Risk, -1 means not present
        if ($.inArray("1", typevals) == -1) {
            // two parents up = the tr
            $("#id_creditRisk").parent().parent().hide();
            $("#id_creditRiskWeight").parent().parent().hide();

        }

        if ($.inArray("2", typevals) == -1) {
            $("#id_marketRisk").parent().parent().hide();
            $("#id_marketRiskWeight").parent().parent().hide();
        }

        // missing Liquidity Risk

        if ($.inArray("4", typevals) == -1) {
            $("#id_operationalRisk").parent().parent().hide();
            $("#id_operationalRiskWeight").parent().parent().hide();
        }

        if ($.inArray("5", typevals) == -1) {
            $("#id_regulatoryLegalRisk").parent().parent().hide();
            $("#id_regulatoryLegalRiskWeight").parent().parent().hide();
        }

        if ($.inArray("6", typevals) == -1) {
            $("#id_reputationRisk").parent().parent().hide();
            $("#id_reputationRiskWeight").parent().parent().hide();
        }

        if ($.inArray("7", typevals) == -1) {
            $("#id_humanResourceRisk").parent().parent().hide();
            $("#id_humanResourceRiskWeight").parent().parent().hide();
        }

        //missing Audit / Exam Finding (8)
        
        if ($.inArray("9", typevals) == -1) {
            $("#id_strategicRisk").parent().parent().hide();
            $("#id_strategicRiskWeight").parent().parent().hide();
        }

        //missing Interest Rate Risk (10)

        if ($.inArray("11", typevals) == -1) {
            $("#id_complianceRisk").parent().parent().hide();
            $("#id_complianceRiskWeight").parent().parent().hide();
        }

        if ($.inArray("12", typevals) == -1) {
            $("#id_fiduciaryRisk").parent().parent().hide();
            $("#id_fiduciaryRiskWeight").parent().parent().hide();
        }

        if ($.inArray("13", typevals) == -1) {
            $("#id_vendorRisk").parent().parent().hide();
            $("#id_vendorRiskWeight").parent().parent().hide();
        }


    }


    $(function() { // things to do when the page loads
        $("#id_reviewDate").datepicker({
            dateFormat: "yy-mm-dd"    
        });

        //bind update to onblur
        $("#id_riskTypes").blur(function() {
            updateRisks();
        });

        updateRisks();

        //$("#id_riskTypes").multiselect();
        $("select").multiselect();

        $('#risk-legend').hide();

        $('.risk_risk').focus(function(e){
            $('#risk-legend').css({
                'top': $(this).offset().top, 
                'left': $(this).outerWidth(true) + $(this).offset().left + 10});
            $('#risk-legend').fadeIn(100);
            
        });
        $('.risk_risk').blur(function(e){
            $('#risk-legend').hide();
        });

    });


    function deleteRisk() {
        document.location.href="{% url erm_delete bankrisk.id %}";
    }
</script>
<div id="risk-legend">
    <table>
        <tr>
            <th style="width: 40px;">Value</th>
            <th style="width: 60px;">Level</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>5</td>
            <td>Very High</td>
            <td>The risk could cause substantial or catastrophic damage
                to the bank.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>High</td>
            <td>The risk could cause significant damage to the bank.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Medium</td>
            <td>The risk could cause some damage to the bank.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Low</td>
            <td>The risk could cause manageable or minor damage to the bank.</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Very Low</td>
            <td>The risk could cause minimal damage to the bank.</td>
        </tr>
    </table>
</div>
<h3>{{ bankrisk }}</h3>
{% if user.get_profile.level <= 0 %}
<p>
You do not have permission to modify this Risk.
</p>
{% endif %}

<p>
{% if prev_risk %}
<a href="/erm/risk/{{ prev_risk.id }}/">&lt; {{ prev_risk.name|truncatechars:35 }}</a>
{% endif %}
{% if next_risk %}
{% if prev_risk %} | {% endif %}
<a href="/erm/risk/{{ next_risk.id }}/">{{ next_risk.name|truncatechars:35 }} &gt;</a>
{% endif %}
</p>

{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
{% if success_message %}<p class="success">{{ success_message }}</p>{% endif %}

<table class="prettytable">
    <tr>
        <td>Composite Risk Score:</td>
        <td>{{ bankrisk.compositeRisk|floatformat:2 }}</td>
    </tr>
    <tr>

        <td>Inherent Risk:</td>
        <td>{{ bankrisk.inherentRisk|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Trend:</td>
        <td>{{ bankrisk.trending }}</td>
    </tr>
    <tr></tr>
    <tr>
        <td>Last Composite Risk Score:</td>
        <td>{{ bankrisk.lastCompositeRisk|floatformat:2 }}</td>
    </tr>
</table>


{% if user.get_profile.level > 0 %}
<form action="/erm/risk/{{ bankrisk.id }}/" method="post">{% csrf_token %}
    <input type="submit" value="Save" />
    <input type="button" value="Delete this Risk" onClick="deleteRisk();"/>
{% endif %}
    <table class="risktable">
    {{ form }}
    </table>

{% if user.get_profile.level > 0 %}
    <input type="submit" value="Save" />
</form>
{% endif %}
{% endblock %}
