{% extends "base.html" %}

{% block title %}ERM Index{% endblock %}

{% block content %}
<p>
Based on your user access, you have these options available to you:
</p>
<ul class="buttonlist">
    <li><a href="/erm/search/source/">Search by Source</a></li>
    <li><a href="/erm/search/type/">Search by Type</a></li>
    <li><a href="/erm/search/date/">Search by Last Review Date</a></li>
    <li><a href="/erm/all/">View All Risks</a></li>
    {% if user.get_profile.level > 0 %}
    <li><a href="/erm/add/">Add new Risk</a></li>
    <li><a href="/erm/assign/">Assign Risks from Profile</a></li>
    {% endif %}
</ul>


{% endblock %}
