{% load report_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Alpaca ERM: Executive Report</title>
        <link rel="stylesheet" href="/static/css/report.css" />
    </head>

    <body>
        <div id="wrapper" class="container_12">
        <div id="header" class="centered grid_12">
            <h1>{{ user.get_profile.bank.name }}</h1>
            <h2>Enterprise Risk Management Executive Summary</h2>
            <h4>{% now "m/d/Y" %}</h4>
        </div>


        <h3>Summary of Risk Assessment Ratings</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_risk_ass_ratings_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Source of Risk</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sone %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <h3>Summary of Risk Scoring by Risk Source</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_risk_scoring_by_source_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Source of Risk</th>
                <th>High Customer Impact</th>
                <th>High Organizational Impact</th>
                <th>High Inherent Risk</th>
                <th>High Composite Management Risk</th>
                <th>Outsourced Services</th>
            </tr>
            {% for data in stwo %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.customer|nozero }}</td>
                <td>{{ data.organization|nozero }}</td>
                <td>{{ data.inherent|nozero }}</td>
                <td>{{ data.composite|nozero }}</td>
                <td>{{ data.outsourced|nozero }}</td>
            </tr>
            {% endfor %}

        </table>

        <h3>Distribution of Risks by Risk Type</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_dist_by_type_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Type of Risk</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sthree %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <h3>Risk Classification by Business Unit</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_class_by_bu_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Risk Manager</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sfour %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_footer_message }}
            {% endautoescape %}
        </div>

        <div class="message">
            <p><strong>
                Weighted Composite Risk Rating for the bank is:
                {{ composite_average|floatformat:2 }}.
            </strong></p>
            <div>
                <p>Institution Composite Risk Rating Explanation Table:</p>
                <table class="explanation_table">
                    <tr>
                        <th class="explanation_table">Institution Composite Risk Rating</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td class="et_rate">5 or Higher</td>
                        <td>
                            Highest Composite Weighted Risk Score for the Institution. 
                            Assets, systems, data or reputation is at immediate risk. 
                            These risks require the highest level of risk management 
                            practices and should be of the greatest supervisory concern. 
                            These areas create the greatest risks to bank systems, data, 
                            reputation and assets.  Many of these risks either have no 
                            compensating controls implemented or adequate controls do not 
                            exist.
                        </td>
                    </tr>
                    <tr>
                        <td class="et_rate">4</td>
                        <td>
                            High Composite Weighted Risk Score exists for the Institution.  
                            Assets, systems, data or reputation is at risk. Close supervisory 
                            attention is required for this area. Compensating controls or 
                            risk mitigation steps must be configured and be closely monitored.
                        </td>
                    </tr>
                    <tr>
                        <td class="et_rate">3</td>
                        <td>
                            Moderate Composite Weighted Risk Score for the Institution.  
                            Assets, data, systems, or reputation is at some level of risk.  
                            Compensating controls or mitigations are necessary to provide a 
                            layer of protection for the assets or systems.
                        </td>
                    </tr>
                    <tr>
                        <td class="et_rate">2</td>
                        <td>
                            Low to Medium Risk Composite Weighted Risk Score for the 
                            Institution.  Assets, systems, data or reputation could be at 
                            slight risk.  Most risk areas have been addressed with 
                            compensating controls or mitigations.  Adequate layers of 
                            protection for the assets or systems have been implemented.
                        </td>
                    </tr>
                    <tr>
                        <td class="et_rate">1</td>
                        <td>Low Composite Weighted Risk Score for the Institution.  Assets, 
                            systems, data or reputation could be at slight risk, but the 
                            risk is either so small as to be statistically improbable or 
                            management may consider the cost to fix, mitigate, or institute 
                            compensating controls may not be commensurate with the loss 
                            possibility.
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    <div id="footer"></div>
    </div> <!-- container -->
    </body>

</html>
