{% load report_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Alpaca ERM: Executive Report</title>
        <link rel="stylesheet" href="/static/css/report.css" />
    </head>

    <body>
        <div id="wrapper" class="container_12">
        <div id="header" class="centered grid_12">
            <h1>{{ user.get_profile.bank.name }}</h1>
            <h2>Enterprise Risk Management Executive Summary</h2>
            <h4>{% now "m/d/Y" %}</h4>
        </div>


        <h3>Summary of Risk Assessment Ratings</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_risk_ass_ratings_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Source of Risk</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sone %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <h3>Summary of Risk Scoring by Risk Source</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_risk_scoring_by_source_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Source of Risk</th>
                <th>High Customer Impact</th>
                <th>High Organizational Impact</th>
                <th>High Inherent Risk</th>
                <th>High Composite Management Risk</th>
                <th>Outsourced Services</th>
            </tr>
            {% for data in stwo %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.customer|nozero }}</td>
                <td>{{ data.organization|nozero }}</td>
                <td>{{ data.inherent|nozero }}</td>
                <td>{{ data.composite|nozero }}</td>
                <td>{{ data.outsourced|nozero }}</td>
            </tr>
            {% endfor %}

        </table>

        <h3>Distribution of Risks by Risk Type</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_dist_by_type_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Type of Risk</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sthree %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <h3>Risk Classification by Business Unit</h3>
        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_class_by_bu_message }}
            {% endautoescape %}
        </div>
        <table>
            <tr>
                <th>Risk Manager</th>
                <th>Total Assessments</th>
                <th>High</th>
                <th>Increasing</th>
                <th>Moderate</th>
                <th>Decreasing</th>
            </tr>
            {% for data in sfour %}
            {% if data.count > 0 %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.count }}</td>
                <td>{{ data.high|nozero }}</td>
                <td>{{ data.trend_high|nozero }}</td>
                <td>{{ data.moderate|nozero }}</td>
                <td>{{ data.trend_low|nozero }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <div class="message">
            {% autoescape off %}
            {{ user.get_profile.bank.report_footer_message }}
            {% endautoescape %}
        </div>

        <div class="message">
            <strong>
                Weighted Composite Risk rate for the bank is:
                {{ composite_average|floatformat:2 }}, or 
                {{ composite_average_text }}.
            </strong>

        </div>
    <div id="footer"></div>
    </div> <!-- container -->
    </body>

</html>
