@import '960/reset.css';
@import '960/text.css';
@import '960/960_12_col.css';

/* `body, etc
-----------------------------------------------------------------------------*/
body {
    padding: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

a, a:visited, a:hover {
    color: blue;
}

table {
    border: 1px solid #777777;

    width: 1000px;
}
th {
    font-weight: bold;
    background-color: #aeaeae;
    border: 1px solid black;
}
td {
    border: 1px solid #dddddd;
    padding: 3px;
    text-align: right;
}


#footer {
    height: 20px;
}

#header {
    margin-bottom: 30px;
}

/* #wrapper { */
/*     width: 600px; */
/* } */

.centered {
    text-align: center;
}

.message {
}




