@import '960/reset.css';
@import '960/text.css';
@import '960/960_12_col.css';

/* `body, etc
-----------------------------------------------------------------------------*/
body {
    line-height:1.5;
    background: url("/static/img/header-home-bg.png") #ffffff repeat-x; 
}

a, a:visited, a:hover {
    color: #076a75;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* `infobox
-----------------------------------------------------------------------------*/
#infobox {
    display: block;
    position: absolute;

    top: 0;
    right: 0;
    width: 300px;
}

#infobox > ul {
    margin-top: 15px;
    margin-right: 20px;


    float: right;
    color: white;
    font-weight: bold;

    list-style: none;
}

/* `header
-----------------------------------------------------------------------------*/

#header {
    /* background-color: #30200C; */
    text-align: center;
}

#logo a img {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* `footer
-----------------------------------------------------------------------------*/
#footer {
    clear: both;
    color: #fff;
    /* background-color: #30200C; */
    background: url("/static/img/header-home-bg.png") repeat-x; 
    text-align: center;
    padding-top: 15px;
    font-size: 75%;

    height: 300px;
    width: 100%;
}


/* `nav
-----------------------------------------------------------------------------*/
#nav {

    height: 50px;
    background: url('/static/img/left_bar.png') no-repeat;
}
#nav ul {
    /* background: #0E1D25; */
    text-align: center;
    margin-top: 0;
    padding-top: 9px;
    margin-bottom: 0;
}
#nav li {
    display: inline;
    margin-left: 8px;
    margin-right: 30px;

    font-weight: bold;
    font-size: 20px;

}
#nav a, #nav a:visited {
    text-decoration: none;
    color: white;
}
#nav a:hover {
    color: gray;
}

.nav_selected {
    color: #00ff00 !important;

}

/* `sub nav
-----------------------------------------------------------------------------*/

#subnav ul {
    /* background: #0E1D25; */
    background: url('/static/img/left_bar.png') no-repeat;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}
#subnav li {
    display: inline;
    margin-left: 8px;
    margin-right: 30px;

    font-weight: bold;
    font-size: 20px;

}
#subnav a, #subnav a:visited {
    text-decoration: none;
    color: white;
}

#subnav a:hover {
    color: gray;
}

/* `container, content
-----------------------------------------------------------------------------*/
#container {
    /* background-color: #FFF7EE; */
}

#content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* 
-----------------------------------------------------------------------------*/

.errorlist {
    color: red;
    font-weight: bold;
}

.success {
    /* color: blue; 
    font-weight: bold;
    */
    display: block;
    border: 1px dashed blue;
    padding: 5px;
}

.prettytable {
    border-collapse: collapse;
}
.prettytable, .prettytable th {

    border: 1px solid gray;
}
.prettytable th {
    background-color: #eeeeee;
}
.prettytable th, .prettytable td {
    padding-right: 15px;
    padding-left: 15px;
}

.risktable th {
    text-align: left;
    vertical-align: top;
}


.buttonlist ul, .buttonlist ol, .buttonlist li {

    list-style: none;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.buttonlist li {

    width: 300px;

    border: 1px dashed gray;
    margin-top: 4px;
    margin-bottom: 4px;

    padding: 4px;
    padding-left: 10px;

}
.buttonlist a {
    text-decoration: none;
    display: block;
}
.buttonlist li:hover {
    background: #d5fbff;
}

