{% extends "base.html" %}

{% block title %}Alpaca ERM: Home{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="/static/js/FusionCharts.js"></script>
<script type="text/javascript">
    $(function() { // things to do when the page loads
        var chartfile = "/static/flash/FCF_Column3D.swf";
        //var width = "700";
        //var height = "700";
        var width = "300";
        var height = "250";

        var chart = new FusionCharts(chartfile,
            "ChartId", width, height);
        chart.setDataURL("{% url home_chartdata 1 %}");		   
        chart.render("chartdiv");

        var chart1 = new FusionCharts(chartfile,
            "ChartId", width, height);
        chart1.setDataURL("{% url home_chartdata 2 %}");		   
        chart1.render("chartdiv2");

        var chart2 = new FusionCharts(chartfile,
            "ChartId", width, height);
        chart2.setDataURL("{% url home_chartdata 3 %}");		   
        chart2.render("chartdiv3");
    });
</script>
{% endblock %}

{% block style %}
<style type="text/css">
    .chart {
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}
<p>
    This is the dashboard page. Below is a test of the bar chart code.
</p>

<div id="chartdiv" class="chart" align="center"></div>
<div id="chartdiv2" class="chart" align="center"></div>
<div id="chartdiv3" class="chart" align="center"></div>


{% endblock %}
