{% extends "base.html" %}
{% block title %}Delete Exception{% endblock %}

{% block content %}

<h3>Delete Exception</h3>

{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
{% if success_message %}<p class="success">{{ success_message }}</p>{% endif %}

{% if success_id %}
{% endif %}

<form action="" method="post">{% csrf_token %}

    <p>Are you sure you want to delete this exception?</p>
    <p>{{ ex.actionItem }}</p>
    <p>
        Warning: Deleting is permanent! 
        Please make sure you are certain before clicking Delete.
    </p>
    <input type="submit" value="Delete Exception" />
    <input type="button" value="Cancel" onClick="javascript:history.back();"/>
</form>
{% endblock %}
