{% extends "base.html" %}

{% block title %}Exception Tracking{% endblock %}

{% block content %}
<p>
    This is the Exception Tracking module. Based on your user level, 
    you can perform the following actions:
</p>
<ul>
    {% if user.get_profile.level > 0 %}
    <li><a href="{% url exception_add %}">New</a></li>
    {% endif %}
    <li><a href="{% url exception_open %}">View Open</a></li>
    <li><a href="{% url exception_closed %}">View Closed</a></li>
    <li><a href="{% url exception_search %}">Search</a></li>
</ul>
{% endblock %}
