<script type="text/javascript">
    $(function() { // things to do when the page loads
            $(".tablesorter").tablesorter({
                widgets: ['zebra'],
                sortList: [[0,0]]
            });
    });
</script>

<table class = "tablesorter">
    <thead>
    <tr>
        <th>Name</th>
        <th style="width: 100px;">Last Reviewed Date</th>
        <th>Ownership</th>
        <th>Trending</th>
    </tr>
    </thead>

    <tbody>
    {% for bankrisk in risks %}
    <tr>
        <td><a href="/erm/risk/{{ bankrisk.id }}" />{{ bankrisk.name }}</a></td>
        <td>{{ bankrisk.reviewDate }}</td>
        <td>
            {% for m in bankrisk.riskManagers.all %} 
            <p>{{ m.name }}</p>
            {% endfor %} 
        </td>
        <td>{{ bankrisk.trending }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
