{% extends "base.html" %}
{% block title %}Add new Risk{% endblock %}

{% block style %}
<style type="text/css">
    /*
    #tr_comments textarea {
        width: 100px;
    }
    */
    #id_riskTypes, #id_riskSources, #id_riskManagers {
        width: 450px;
        height: 200px;
    }

    #risk-legend{
        display: none;
        position: absolute;
        width: 400px;
        height: 290px;
        line-height: 20px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        /*color: rgb(113, 157, 171);*/
        color: 000;
        background: rgb(200, 200, 200);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 5px;
        text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
        opacity: 100%;
        z-index: 1000;
    }

    #control-legend{
        display: none;
        position: absolute;
        width: 330px;
        height: 180px;
        line-height: 20px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        /*color: rgb(113, 157, 171);*/
        color: 000;
        background: rgb(200, 200, 200);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 5px;
        text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
        box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
        opacity: 100%;
        z-index: 1000;
    }

    #control-legend span,
    #risk-legend span {
        font-weight: bold;
    }

    #risk-legend table, 
    #risk-legend th, 
    #risk-legend td,
    #control-legend table, 
    #control-legend th, 
    #control-legend td 
    {
        border: 1px solid #555555;
    }

    #risk-legend th, 
    #risk-legend td,
    #control-legend th, 
    #control-legend td 
    {
        padding: 5px;
    }

    #risk-legend th,
    #control-legend th 
    {
        font-weight: bold;
    }
</style>

{% endblock %}
{% block content %}

<script>
    $(function() {
        $("#id_reviewDate").datepicker({
            dateFormat: "yy-mm-dd"    
        });
        $("select").multiselect();


        $('.risk_risk').focus(function(e){
            $('#risk-legend').css({
                'top': $(this).offset().top, 
                'left': $(this).outerWidth(true) + $(this).offset().left + 10});
            $('#risk-legend').fadeIn(100);
            
        });
        $('.risk_risk').blur(function(e){
            $('#risk-legend').hide();
        });


        $('.risk_controls').focus(function(e){
            $('#control-legend').css({
                'top': $(this).offset().top, 
                'left': $(this).outerWidth(true) + $(this).offset().left + 10});
            $('#control-legend').fadeIn(100);
            
        });
        $('.risk_controls').blur(function(e){
            $('#control-legend').hide();
        });

    });
</script>
<div id="risk-legend">
    <span>Impact</span>
    <table>
        <tr>
            <th style="width: 40px;">Value</th>
            <th style="width: 60px;">Level</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>5</td>
            <td>Very High</td>
            <td>The risk could cause substantial or catastrophic damage
                to the bank.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>High</td>
            <td>The risk could cause significant damage to the bank.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Medium</td>
            <td>The risk could cause some damage to the bank.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Low</td>
            <td>The risk could cause manageable or minor damage to the bank.</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Very Low</td>
            <td>The risk could cause minimal damage to the bank.</td>
        </tr>
    </table>
</div>
<div id="control-legend">
    <span>Control Factors</span>
    <table>
        <tr>
            <th style="width: 40px;">Value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>1</td>
            <td>No significant controls have been implemented.</td>
        </tr>

        <tr>
            <td>0.75</td>
            <td>Some controls have been implemented.</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>Significant controls have been implemented.</td>
        </tr>
        <tr>
            <td>0.25</td>
            <td>Appropriate controls have been implemented.</td>
        </tr>
    </table>
</div>
<h3>Add new Risk</h3>

{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
{% if success_message %}<p class="success">{{ success_message }}</p>{% endif %}

{% if success_id %}
<p class="success">
<a href="/erm/risk/{{ success_id }}/">{{ success_name }}</a> added successfully. Add another blow.
</p>
{% endif %}

{% if user.get_profile.level > 0 %}
<form action="/erm/add/" method="post">{% csrf_token %}
{% endif %}
    <table class="risktable">
    {{ form }}
    </table>

{% if user.get_profile.level > 0 %}
    <input type="submit" value="Save" />
</form>
{% endif %}
{% endblock %}
