{% extends "base.html" %}
{% block title %}Add new Risk{% endblock %}

{% block content %}

<script>
    $(function() {
        $("#id_reviewDate").datepicker({
            dateFormat: "yy-mm-dd"    
        });
    });
</script>

<h3>Add new Risk</h3>
{% if user.get_profile.level <= 0 %}
<p>
You do not have permission to modify this Risk.
</p>
{% endif %}
<p>
    This risk ({{ bankrisk.name}}) 
    belongs to {{ bankrisk.bank.name }}.
</p>
{% if error_message %}<p class="errorlist">{{ error_message }}</p>{% endif %}
{% if success_message %}<p class="success">{{ success_message }}</p>{% endif %}
{% if success_id %}
<p class="success">
<a href="/erm/risk/{{ success_id }}/">{{ success_name }}</a> added successfully. Add another blow.
</p>
{% endif %}

{% if user.get_profile.level > 0 %}
<form action="/erm/add/" method="post">{% csrf_token %}
{% endif %}
    <table>
    {{ form }}
    </table>

{% if user.get_profile.level > 0 %}
    <input type="submit" value="Save" />
</form>
{% endif %}
{% endblock %}
