{% extends "base.html" %}

{% block title %}ERM Index{% endblock %}

{% block content %}
<h1>ERM Index Page</h1>
<h3>Currently this is just testing information</h3>
<table>
    <tr>
        <td>Username:</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Bank:</td>
        <td>{{ user.get_profile.bank.name }}</td>
    </tr>
    <tr>
        <td>Access Level:</td>
        {% if user.get_profile.level == 0 %}
        <td>Read Only</td>
        {% else %}
        <td>Full Access</td>
        {% endif %}
    </tr>
</table>
<p>These are the risks currently assigned to your bank:</p>
<ul>
{% for bankrisk in user.get_profile.bank.bankrisk_set.all %}
<li><a href="/erm/risk/{{ bankrisk.id }}" target="_new"/>{{ bankrisk.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}
