{% extends "base.html" %}

{% block title %}Search Options{% endblock %}

{% block subnav %}
{% include '_subnav.html' %}
{% endblock %}

{% block content %}
<h1>Search Options</h1>

<ul class="buttonlist">
    <li><a href="/erm/search/source/">Search by Source</a></li>
    <li><a href="/erm/search/type/">Search by Type</a></li>
    <li><a href="/erm/search/date/">Search by Last Review Date</a></li>
    <li>Search by Risk Managers / Departments</li>
    <li><a href="/erm/search/name/">Search by Name</a></li>
</ul>

{% endblock %}
